@import "common";

//////////// MIXINS ////////////////////////////////
.mixin-default-button {
  color: @button-color;
  background-color: @button-bg-color;
  border: 1px solid @button-border-color;
  font-size: @font-size-h3-text;
  border-radius: 0;
  padding: 0;
  &:hover {
    border: 1px solid @button-hover-border-color;
    background-color: @button-hover-bg-color;
  }
}

//////////////////////////////// GLOBAL STYLES /////////////////////////////
body,html{
  font-size: 14px;
  background: @main-bg-color;
}

#viewport {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

ul,li{
  list-style: none;
}


/////////////////  ANIMATIONS //////////////////////////
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// body
.center-body{
  margin:20px ;
  min-width: 1200px;
  position: relative;
}
.tc-panel {
  background-color: #fff;
  box-shadow: none;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  .container{
    display: flex;
    min-height: 500px;
    .uw-split-panel-left {
      border-right: 1px solid #ddd;
      width: 400px;
    }
    .uw-sider {
      border-right: none;
      width: 400px;
      position: relative;
      height: 100%;
      display: inline-block;
      vertical-align: top;
    }
    .uw-split-panel-right {
      padding: 10px 0;
      width: 100%;
    }
  }
}

.confirm-btn{
  margin-left: -100px !important;
}



/////////////////Basic//////////////////
//icon
.el-icon-close:before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../assets/img/icon/tencentcloud/icon-close.svg);
  display: block;
}
.el-icon-arrow-up:before{
	color: transparent;
	width: 16px;
  height: 16px;
	background: url('../assets/img/icon/tencentcloud/icon-pull-down.svg') center center no-repeat;
}
.el-icon-success:before{
	content: "\E62D";
	color: transparent;
	width: 16px;
	height: 16px;
	background: url('~@/assets/img/icon/tencentcloud/icon-success-16.svg') center center no-repeat;
	background-size: 100% auto;
}
.el-icon-warning:before{
	content: "\E62E";
	color: transparent;
	width: 16px;
	height: 16px;
	background: url('~@/assets/img/icon/tencentcloud/icon-queuing.svg') center center no-repeat;
	background-size: 100% auto;
}
.el-icon-error:before{
	content: "\E62C";
	color: transparent;
	width: 16px;
	height: 16px;
	background: url('~@/assets/img/icon/tencentcloud/icon-error-16.svg') center center no-repeat;
	background-size: 100% auto;
}
.el-icon-info:before{
	content: "\E61A";
	color: transparent;
	width: 16px;
	height: 16px;
	background: url('~@/assets/img/icon/tencentcloud/icon-note.svg') center center no-repeat;
	background-size: 100% auto;
}
//button
.el-button{
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
  border-radius: 0;
}
.el-button--primary{
	color: @font-color-button;
  background-color: @def-blue ;
  border-color: @def-blue ;
}
.el-button--primary:hover,.el-button--primary:focus {
  box-shadow:0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5);
  border-color:@button-primary-hover-color;
  color: @font-color-button ;
  background-color: @button-primary-hover-color;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.el-button--default{
  background-color: @button-bg-color;
  border-color: @button-border-color;
  color: @font-color-title;
}
.el-button--default:hover{
  background-color: @button-border-color;
  color: @font-color-table;
  border-color: @button-border-color;
}

.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  border-color: #ddd;
  background-color: #fff;
  color: #bbb;
  cursor: not-allowed;
}

/////////////////Form//////////////////
//input
.el-input{
  input{
    font-size: @font-size-h3-text;
	}
	&__icon{
		line-height: 30px;
	}
	&__inner{
    padding: 0 10px;
    height: 30px;
		line-height: 30px;
		border-radius: 0;
	}
	&__suffix{
		right: 2px;
	}
}
.el-input.is-active .el-input__inner, .el-input__inner:focus{
	border-color: @main-color;
	outline: 0 none;
}

//select
.el-select .el-input .el-select__caret{
	transition: none;
	transform: none;
	-webkit-transform: none;
}
.el-select-dropdown{
	border-color: #ddd;
	&__list{
	padding: 0;
}
	&__item{
	font-size: 12px;
	color: #000;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
		&.hover,&:hover{
	background-color: #f2f2f2;
}
		&.selected{
	background-color: #006eff;
	color: #fff;
	font-weight: lighter;
}
	}
}

.el-popper[x-placement^=bottom] {
	margin-top: 5px;
	.popper__arrow{
	border-bottom-color: transparent;
}
	 .popper__arrow:after{
	border-bottom-color: transparent;
}
}
.el-popper[x-placement^=top] {
	margin-bottom: 5px;
	.popper__arrow{
	border-top-color: transparent;
}
	.popper__arrow:after{
	border-top-color: transparent;
}
}

//datePicker editor
.el-date-editor{
	&.el-input{
		width: 100%
	}
	.el-range__icon{
		line-height: 22px;
	}
	.el-range-separator{
		line-height: 22px;
	}
	.el-range__close-icon{
		line-height: 22px;
	}
	&.is-active, &.is-active:hover {
		border-color: @main-color;
}
}
//form
.el-form-item{
	margin-bottom: 32px;
	&__error{
		padding-top: 8px;
	}
	.el-form-item__label{
		font-size: @font-size-h3-text;
		line-height: 30px;
	}
	.el-input__inner{
		height: 30px;
		line-height: 30px;
		border-radius: 0;
		padding: 0 10px;
	}
	&.is-error{
		.el-input__inner, .el-input__inner:focus{
			border-color: @state-danger-color;
			outline: 0 none;
		}
	}
	&.is-success{
		.el-input__inner, .el-input__inner:focus, .el-textarea__inner, .el-textarea__inner:focus {
			border-color: @button-border-color;
		}
	}
}


//////////////////////Data///////////////////
// table
.el-table td, .el-table th{
	font-size: 12px;
  color: @font-color-table
}

//////////////////////Notice//////////////////
//message
.el-message{
	border: 1px solid #97c7ff;
	background: #e5f0ff;
	border-radius: 0;
	padding: 0;
	width: 100%;
	min-height: 40px;
	padding: 10px;
	top: 50px;
	justify-content: center;
	align-items: normal;
	&__content{
		font-size: 12px;
		line-height: 20px;
}
	&__icon{
		margin-right: 5px;
		line-height: 20px;
		&:before{
			color: transparent;
}
}
	&--info{
		.el-message__content {
			color: #003b80;
}
}
	&--success{
		border: 1px solid #9ce4bc;
		background-color: #e6f8ee;
		.el-message__content{
			color: #007e3b;
}
}
	&--warning{
		background-color: #fff4e3;
		border-color: #ffd18b;
		.el-message__content{
			color: #c07400;
}
}
	&--error{
		border: 1px solid #f6b5b5;
		background-color: #fcecec;
		.el-message__content{
			color: #b43537;
		}
	}
	.el-icon-info{
		&:before{
			content: ''
		}
	}
}

//MessageBox
.el-message-box{
	border-radius: 0;
	&__header{
	padding: 25px 25px 10px;
		.el-message-box__title{
	font-size: 14px !important;
  color: #000;
  font-weight: 700;
}
	}
	&__headerbtn{
		width: 26px;
		height: 26px;
		.el-icon-close:before {
			content: "";
			width: 16px;
			height: 16px;
			background-image: url(../assets/img/icon/tencentcloud/icon-close.svg);
			display: block;
		}
	}
	&__content{
	padding: 20px 25px;
}
	&__message{
		p{
			color: @font-color-label ;
			font-size: @font-size-h3-text;
		}
	}
	&__btns{
	text-align: center;
	position: relative;
	height: 30px;
	padding: 0;
	margin: 10px 25px 15px;
	display: flex;
	flex-direction:row-reverse;//倒序 取消确认按钮切换
	justify-content:center;
		button{
	padding: 0 20px;
	height: 30px;
}
		button +  button{
	margin-right: 20px;
}
	}
}

//notification
.el-notification{
	margin-top: 50px;
	border-radius: 0;
	line-height: inherit;
	padding: 10px 30px 10px 20px;
	color: #003b80;
	border: 1px solid #97c7ff;
	border-radius: 2px;
	background: #e5f0ff;
	width: 210px;
	&__group{
		max-width: 155px;
		margin: 0;
}
	&__title{
		padding-left: 5px;
    padding-right: 10px;
    font-size: 12px;
    vertical-align: top;
		line-height: 16px;
		color: #003b80;
}
	&__content{
		padding-left: 5px;
    padding-right: 10px;
  font-size: 12px;
    vertical-align: top;
		line-height: 16px;
		color: #003b80
}
	&__icon{
    width: 16px;
    height: 16px;
		font-size: 16px;
  }
	&__closeBtn{
		top: 10px
}
}

//////////////////////Navigation///////////////
//tabs
.el-tabs{
	&__item{
		color: #000;
		&:hover{
			color: #000;
  }
		&.is-active{
			color: #000;
			font-weight: 700;
		}
	}
	&__active-bar{
		background-color: @def-blue;
	}
}
//dropdown
.el-dropdown-menu{
	border-radius: 0;
}

////////////////////////Others///////////////////////
//dialog
.el-dialog {
  border-radius: 0;
  &__header {
    padding: 25px 25px 10px;
  }
  &__title {
    color: #000;
    font-weight: 700;
    margin-bottom: 14px;
    display: inline-block;
    font-size: @font-size-h2;
    line-height: 26px;
    margin-bottom: 0;
  }
  &__body {
    padding: 20px 25px;
  }
  &__footer {
    padding: 10px 25px 25px;
    text-align: center;
  }
}
.confirm-btn{
  margin-left: -10px !important;
}

// tooltip
.el-tooltip__popper.is-light {
	font-size: 12px;
	border-color: #ddd;
	border-radius: 0;
	box-shadow: 1px 1.732px 3px 0 rgba(0,0,0,.1);
	padding: 12px;
	line-height: 1.5;
}
.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
	border-top-color: @button-border-color;
}

// uploader
.avatar-uploader .el-upload {
  border: 1px dashed @border-color;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: @main-color;
}


.dialog-footer{
  text-align: center;
}
